@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #370528, #7e1e39, #bd4d36, #e58d21, #ebd812);
    min-height: 100vh;
}

/*styling instruction-container and its content*/

#instruction-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#instruction-content {
    background-color: #1b1919;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 70rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instruction-title {
    font-weight: 700;
    margin-top: 3rem;
}

ul {
    width: 80%;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 6rem;
    list-style-type: none;
}

ul li {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

#start-game-btn {
    margin-top: 6rem;
    width: 6rem;
    height: 3rem;
    padding: 0.5rem;
    color: #1b1919;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: 0.5s;
}

#start-game-btn:hover {
    border: 2px solid #eacd14;
    color: #1b1919;
    background-color: #eacd14;
}

/*style for landing section*/

.title-div {
    background-image: url('../images/title-div-photo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5rem;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #eacd14;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 15rem;
    max-height: 20rem;
    padding-bottom: 8rem;
}

.score-inner-div {
    min-height: 15rem;
    max-height: 20rem;
}

p {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
    color: rgb(7, 7, 7);
}

#versus-id {
    font-size: 6rem;
    color: #eacd14;
}

#score1,
#score2 {
    font-size: 10rem;
    color: aliceblue;
}

.gameContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 12rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    box-shadow: 2px 3px 14px 1px rgba(0, 0, 0, 0.89);
}

#playBtnHost,
#playBtnGuest {
    width: 12.5rem;
    height: 6rem;
    padding: 1rem;
    border: 2px solid #bbd5ec;
    background-color: aliceblue;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 400;
    transition: 0.5s;
}

#playBtnHost:hover,
#playBtnGuest:hover {
    border: 3px solid #3a0629;
    color: #3a0629;
    font-size: 2.2rem;
}

/*style container for images*/

.imageDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 65rem;
    overflow: hidden;
    margin-top: 1rem;
}

#miss,
#onePoint,
#twoPoints,
#threePoints,
#host-winer-image,
#guest-winer-image {
    display: none;
    width: 60.1rem;
    height: 65rem;
    object-fit: scale-down;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*styling reset button*/

#resetBtn {
    width: 12.5rem;
    height: 6rem;
    padding: 1rem;
    border: 2px solid rgb(186, 213, 236);
    background-color: aliceblue;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 400;
    transition: 0.5s;
    margin-top: 5rem;
}

#resetBtn:hover {
    border: 3px solid #3a0629;
    color: #3a0629;
    font-size: 2.2rem;
}

/*media queris for screen size 500px and bigger*/

@media screen and (min-width: 500px) {

    p {
        font-size: 3.5rem;
    }

    h1 {
        font-size: 4rem;
    }

    ul {
        text-align: center;
    }

    ul li {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 810px) {

    #start-game-btn {
        width: 12rem;
        height: 6rem;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 2.6rem;
    }

    h1 {
        font-size: 7rem;
    }

    p {
        font-size: 4.5rem;
    }
}

/*styling 404 page*/

#error-title {
    font-size: 18rem;
    margin-top: 15rem;
    text-shadow: 0.4rem 0.4rem #000000b3;
    height: 20vh;
}

#error-page-paragraph {
    font-size: 4rem;
}

#error-page-button {
    width: 15rem;
    height: 8rem;
    padding: 1rem;
    color: #1b1919;
    background-color: #fff;
    border: 2px solid rgb(186, 213, 236);
    border-radius: 1rem;
    font-size: 2.6rem;
    font-weight: 700;
    transition: 0.5s;
    margin-top: 7rem;
    text-decoration: none;
    margin-top: 6rem;
}

#error-page-button:hover {
    border: 2px solid #eacd14;
    color: #1b1919;
    background-color: #eacd14;
}